{% extends "base.html" %} {% block navbar %}

<header>
  <nav>
    <div id="main">
      <h1>StarGroup</h1>
      <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('car.cars') }}">Used Vehicles</a></li>
        <li><a href="{{ url_for('about.about_us') }}">About Us </a></li>
        <li><a href="{{ url_for('contact.contact_us') }}">Contact Us</a></li>
        {% if current_user.is_authenticated %}
        {% if current_user.is_admin() %}
        <li><a href="{{ url_for('car.create') }}">Add a car</a></li>
        <li><a href="{{ url_for('criteria.create_criteria') }}">Add a make</a></li>
        <li><a href="{{ url_for('admin.visitors') }}">Visitors</a></li>
        {% endif %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-user"></span> {{
            current_user.username }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
          </ul>
        </li>
        {% else %}

        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        <li><a href="{{ url_for('auth.register') }}">Register</a></li>

        {% endif %}
      </ul>
    </div>
  </nav>
</header>

{% endblock %} {% block app_content %}

<div class="banner-text">
  <h2>Shop used cars at “StarGroup”</h2>

  <p>
    Search our vehicle stock today and purchase how you want! order Online, by
    phone or by visiting us in store.
  </p>
  <a class="btn btn-info" href="{{ url_for('car.cars') }}"
    >Click here to view the cars</a
  >
</div>
{% endblock %}
